@font-face {
  font-display: swap;
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/baloo-bhaina-2-v28-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Baloo Bhaina 2';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/baloo-bhaina-2-v28-latin-700.woff2') format('woff2');
}