@import "tailwindcss";

/* @theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
} */

@layer base {
  /* fluid text needs adjusting */
  body {
    @apply transition-colors duration-500 font-sans m-0 p-0 box-border text-[min(3vw,2vh)];
  }

  h1 {
    @apply font-bold leading-tight text-black text-6xl;
  }

  h2 {
    @apply font-bold leading-tight text-black text-5xl;
  }

  h3 {
    @apply font-semibold leading-tight text-black text-4xl;
  }

  h4 {
    @apply font-semibold leading-tight text-black text-2xl;
  }

  p {
    @apply text-base leading-tight text-black;
  }
}

@layer components {
  button {
    @apply cursor-pointer;
  }
}
